.css-1rppvhp .contents .inner {
    display: flex;
    padding: 0px 12px;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    flex: 1 1 0%;
}

.css-1mk3mai {
    width: 108px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--gray500);
}

.css-e10jb3 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    height: 100%;
    gap: 2px;
    flex: 1 1 0%;
}

.css-mt0u67 {
    display: flex;
    flex-flow: column wrap;
    gap: 2px 8px;
    max-height: 88px;
    width: 168px;
}